main {text-align: center;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
a {color: #1877F2; text-decoration: none;}
h3 {color: #606770; font-size: 16px;}
span{color: #606770;}
section {margin-top: 10px;}
button {width: 100%; height: 45px; border-radius: 5px; border: 1px solid #DDDFE2; color: #fff; background-color: #1877F2; font-weight: bold; margin-bottom: 15px; cursor: pointer;}
fieldset {border: none; padding: 0px; margin: 0px;}
legend{position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
input:read-only {background-color:#DDDFE2; font-weight: bold; border: #DDDFE2;}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

.logo {margin: auto; width: 350px;}
.logo span {font-size: 45px; color: #1877F2; font-weight: bold;}
.logo_img {width: 30px; height: 35px;}

.find_user_pw_form {width: 420px; margin: auto; border: 1px solid #DDDFE2; padding: 20px 15px 20px 15px; box-sizing: border-box; border-radius: 10px; margin-top: 50px; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

.join_title {border-bottom:1px solid #DDDFE2; margin-bottom: 20px;}
.join_title h2 {display: block; margin-top: 0px; margin-bottom: 5px;}
.join_title em {display: block; margin-bottom: 25px;}

.role_settings {display: flex; justify-content: space-between; text-align: left; margin-bottom: 10px;}
.role_settings .first_box {width: 31%;}
.role_settings .mid_box {width: 31%;padding-top: 24px;}
.role_settings .end_box {width: 31%;}
.role_settings img {width: 20px; height: 20px;}

.radio_box{border: 1px solid #DDDFE2; padding: 5px; border-radius: 5px; display: flex; justify-content: space-between;}
.select_box{border: 1px solid #DDDFE2; padding: 5px; border-radius: 5px; height: 33px; width: 100%;}

.name_box input {width: 100%;height: 45px; border-radius: 5px; border:1px solid #DDDFE2; padding-left: 10px; box-sizing: border-box;}
.title_box {display: flex; align-items: center; height: 30px;}
.title_box span {font-size: 11px; display: inline-block; margin-top: 3px; margin-left: 5px;}

.content {display: flex; justify-content: space-between; height: 45px;}
.content input {width: 100%;height: 45px; border-radius: 5px; border:1px solid #DDDFE2; padding-left: 10px; box-sizing: border-box;}

.phone_number_box {margin-bottom: 20px;}
.phone_number_box input {width: 100%; height: 45px; border-radius: 5px; border:1px solid #DDDFE2; padding-left: 10px; box-sizing: border-box;}

.first_section {padding: 0px 0px 25px 0px; border-bottom: 1px solid #DDDFE2;}

.submit_button {margin: auto; width: 150px; height: 45px; border-radius: 5px; border: 1px solid #42B72A; color: #fff; background-color: #42B72A; font-weight: bold; margin-bottom: 10px; cursor: pointer; display: block;}
.submit_box a{font-size: 12px;}